<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html lang=en xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{judulku}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="author" content="{author}">
<meta name="description" content="{description}">
<meta name="keywords" content="{keywords}">
<link href="{sumber}/inc/style/toko.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" id="listmenu-h" href="{sumber}/inc/style/listmenu_h.css" title="Horizontal 'Earth'">
<link rel="stylesheet" type="text/css" id="fsmenu-fallback"  href="{sumber}/inc/style/listmenu_fallback.css">
<link rel="stylesheet" type="text/css" href="{sumber}/inc/style/divmenu.css">
<script type="text/javascript" src="{sumber}/inc/js/fsmenu.js"></script>


<!-- Bootstrap core JavaScript -->
<script src="{sumber}/template/vendor/jquery/jquery.min.js"></script>
<script src="{sumber}/template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{sumber}/template/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

<!-- Bootstrap core CSS -->
<link href="{sumber}/template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="{sumber}/template/vendor/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet">

</head>

<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" onLoad="{diload}">
<div align="center">
<TABLE WIDTH=990 BORDER=0 CELLPADDING=0 CELLSPACING=3 bgcolor="#000000">
	<TR>

      <TD> <strong><font color="#FFFFFF"><big>{nama_toko}</big></font></strong></TD>
	</TR>
</TABLE>
  <table width="990" height="500" border="0" cellpadding="0" cellspacing="0" bgcolor="#FBFBFB" onKeyDown="{dikeydown}">
    <tr>
      <td valign="top"> {isi}</td>
    </tr>
  </table>
  <table width="990" border="0" cellpadding="5" cellspacing="0" bgcolor="#000000">
    <tr>
      <td width="300" bgcolor="#F2EAD9" class="cilik">&copy;2018 <strong>{nama_toko}</strong> ({versi})
	  </td>
      <td>&nbsp;</td>
    </tr>
  </table>
  
  



  
</div>
</body>
</html>