<html>
<head>
<title>{judul}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="author" content="{author}">
<meta name="description" content="{description}">
<meta name="keywords" content="{keywords}">
<link href="{sumber}/inc/style/toko.css" rel="stylesheet" type="text/css">
<link href="{sumber}/inc/style/dhtmlwindow.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{sumber}/inc/js/dhtmlwindow.js"></script>


<!-- Bootstrap core JavaScript -->
<script src="{sumber}/template/vendor/jquery/jquery.min.js"></script>
<script src="{sumber}/template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{sumber}/template/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

<!-- Bootstrap core CSS -->
<link href="{sumber}/template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="{sumber}/template/vendor/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet">

</head>

<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" onLoad="{diload}">


<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="1">
  <tr align="center" valign="middle">
    <td align="center" valign="middle">

	{isi}


</td>
  </tr>
</table>
</body>
</html>