<html>
<head>
<title>{judulku}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="author" content="{author}">
<meta name="description" content="{description}">
<meta name="keywords" content="{keywords}">
<link href="{sumber}/inc/style/toko.css" rel="stylesheet" type="text/css">


<!-- Bootstrap core JavaScript -->
<script src="{sumber}/template/vendor/jquery/jquery.min.js"></script>
<script src="{sumber}/template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{sumber}/template/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

<!-- Bootstrap core CSS -->
<link href="{sumber}/template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="{sumber}/template/vendor/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet">

</head>

<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" onLoad="{diload}">
<div align="center">
  <table width="650" height="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
    <tr align="center">
      <td valign="top"> {isi}</td>
    </tr>
  </table>

</div>
</body>
</html>